*{
  margin: 0%;
  padding: 0%;
}
body{
  background-image: url("../img/cidadeparallax.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header >h1{
  margin: 10px 0px 10px 10px;

  color: red;
  font-size: 1.5em; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation-page{
 margin-left: 10px;
}
.navigation-page a{
 padding-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation-page a:hover{
  text-decoration: underline;
  color: red;
}
/* ================main */
.section-one{
  position: relative;
  height: 600px;
}

#article-one{
  padding: 20px;
  width: 600px;
  height: 300px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
}

main{
  max-width: 100%;
  min-width: 320px;
  margin: auto;
  padding: 20px;
}
#article-one h1{
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

#article-one p{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#article-one #contacte-nos{
  position: absolute;
  text-align: center;
  left: 35%;
  padding: 20px;
  margin-top: 30px;
  background-color: red;
  color: white;
  border-radius: 20px;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
#article-one #contacte-nos:hover{
  background-color: rgba(255, 0, 0, 0.452);
}