#section-four{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.37);
    line-height: 40px;
    font-family:'Courier New', Courier, monospace;
    background-image: url("../../../image/background002.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#section-four >p{
    background-color: rgba(54, 52, 40, 0.37);
    padding: 20px;
    max-width: 320px;
}
