*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #dbdbd9;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(23, 149, 223);
}

header h1{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
 header nav{
    margin: 20px;
   padding: 20px;
 }

 header nav ul li{
    display: inline;
    margin: 20px;
   
 }

 header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

 }

 .sessao-formulario{
    position: relative;
height: 500px;
 }

 .sessao-formulario{
    padding: 20px;
    background-color: rgb(23, 149, 223);
    max-width: 900px;
    min-width: 320px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

 input{
    border: none;
    border-radius: 2px;
    padding: 10px;
    display: block;
    width: 300px;
    margin: 10px;
 }
 #forgot-password{
    margin-left: 10px;

 }
 #forgot-password a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 }

 #forgot-password a:hover{
    text-decoration: underline;
 }

 #btn-entrar{
    background-color: rgb(1, 57, 90);
    color: white;
    width: 320px;
    font-weight: bold;
 }
 #btn-entrar:hover{
    background-color: rgb(4, 80, 124);
    cursor: pointer;
   
 }

 ::placeholder{
    color: blue;
    font-size: 1em;
    font-weight: bold;
 }