* {
  margin: 0%;
  padding: 0%;
}
:root {
  --backgroundColorHeader: #db6e67;
  --backgroundColorNav: #1f51db;
  --backgroundColorHover: #661fdb;
  --fontFamily: Arial, Helvetica, sans-serif;
  --backgroundColorBottom: #661fdb;
}

header {
  background-color: var(--backgroundColorHeader);
  color: white;
  max-width: 100%;
  min-width: 320px;
  font-family: var(--fontFamily);
}
nav {
  background-color: var(--backgroundColorNav);
  padding: 20px;
}
header h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 3px;
}

header p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #ffff;
  margin: 10px;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: underline;
  color: #db6e67;
}
